services:
  mariadb:
    image: mariadb:10.11
    container_name: guac-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: guacamole_db
      MYSQL_USER: guacamole_user
      MYSQL_PASSWORD: password
    volumes:
      - ./docker_templates:/tmp/templates
      - guac-mariadb-data:/var/lib/mysql
    networks:
      vpcbr:
        ipv4_address: 10.5.5.6

  guacamole:
    image: guacamole/guacamole:1.5.3
    container_name: guacamole
    restart: always
    depends_on:
      - mariadb
    environment:
      GUACD_HOSTNAME: guacd
      MYSQL_HOSTNAME: mariadb
      MYSQL_DATABASE: guacamole_db
      MYSQL_USER: guacamole_user
      MYSQL_PASSWORD: password
    ports:
      - "8080:8080"
    networks:
      vpcbr:
        ipv4_address: 10.5.5.5

  guacd:
    build:
      context: .
      dockerfile: Dockerfile.guacd
    container_name: guacd
    restart: always
    networks:
      vpcbr:
        ipv4_address: 10.5.5.4
    cap_add:
      - NET_ADMIN

  vmcloak:
    build:
      context: .
      dockerfile: Dockerfile.vmcloak
    container_name: vmcloak
    privileged: true
    restart: always
    volumes:
      - ./vmcloak_data:/root/.vmcloak
      - ./vmcloak_iso:/root/iso
    devices:
      - "/dev/kvm:/dev/kvm"
    networks:
      vpcbr:
        ipv4_address: 10.5.5.3

volumes:
  guac-mariadb-data:

networks:
  vpcbr:
    driver: bridge
    ipam:
     config:
       - subnet: 10.5.5.0/24
         gateway: 10.5.5.1
